# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.sqlite3

# Ignore environment variables
.env

# Ignore Firebase key
firebase_key.json

# Ignore media dir
backend/media/


# Ignore VS Code
.vscode/

# Ignore Node / React
node_modules/
frontend/node_modules/
frontend/build/

# Ignore OS files
.DS_Store
