# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.sqlite3

# Ignore environment variables
.env

# Ignore Firebase key
*.json
firebase_key.json


# Ignore VS Code
.vscode/
